* {
  -webkit-tap-highlight-color: $transparent; // sass-lint:disable-line no-vendor-prefixes

  &,
  &::before,
  &::after {
    box-sizing: border-box;

    text-rendering: optimizeLegibility;
  }
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}
