* {
  -webkit-tap-highlight-color: rgba($white, 0);

  &,
  &::before,
  &::after {
    box-sizing: border-box;

    text-rendering: optimizeLegibility;
  }
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}
