.hidden {
  display: none;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.ellipsis {
  overflow: hidden;

  width: 100%;

  white-space: nowrap;

  text-overflow: ellipsis;
}
