// Color definitions
$black: #000;
$gray-dark: #111;
$gray: #222;
$gray-light: #aaa;
$gray-lighter: #efefef;
$white: #fff;

$red: #fb0888;
$green: #00c688;
$blue: #01babf;
$yellow: #ffcb19;

$transparent: rgba($white, 0);

// Font families
$font-family: "Arial", sans-serif;

// Font sizes
$font-size-xs: 9px;
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 58px;

$font-size-base: 15px;
$font-size-heading: 20px;

// Font weights
$font-weight-bold: 900;

// Line heights
$line-height-base: 1.5;

// Layout variables
$page-margin: 32px;
$page-margin-mobile: 18px;

// z-index
$z-index: (
  gif-stream: 2000,
  header: 3000,
  navigation-overlay: 5000,
  drawer: 10000,
  flash-message-stage: 12000,
  navigation-toggle: 15000,
  react-modal: 20000,
);

// Breakpoints for responsive layouts
$media-breakpoint: (
  xs: 699px,
  sm: 700px,
  md: 900px,
  lg: 1200px,
);
