// typography

$font-family: "Arial", sans-serif;

$font-size-xs: 9px;
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 58px;
$font-size-base: 15px;
$font-size-heading: 20px;

$font-weight-bold: 900;

$line-height-base: 1.5;

// layout

$page-margin: 32px;
$page-margin-mobile: 18px;

// z-index

$z-index: (
  gif-stream: 2000,
  header: 3000,
  navigation-overlay: 5000,
  drawer: 10000,
  flash-message-stage: 12000,
  navigation-toggle: 15000,
  react-modal: 20000,
);

// media breakpoints

$media-breakpoint: (
  xs: 699px,
  sm: 700px,
  md: 900px,
  lg: 1200px
);

// colors

$black: #000000;
$gray-dark: #111111;
$gray: #222222;
$gray-light: #aaaaaa;
$gray-lighter: #efefef;
$white: #ffffff;

$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;
$yellow: #ffff00;

$transparent: rgba($white, 0);
