# development server
PORT=3000

# database
DATABASE_URL=postgres://username:password@localhost:5432/dbname
DATABASE_DIALECT=postgres

# authentification
JWT_SECRET=secret

# paypal
PAYPAL_ID=
PAYPAL_SECRET=
PAYPAL_RETURN_URL=http://localhost:3000/api/auth/signup/paypal/success
PAYPAL_CANCEL_URL=http://localhost:3000/api/auth/signup/paypal/cancel

# smtp mail
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_MAIL=
