{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "extend",
          "at-root",
          "debug",
          "warn",
          "error",
          "if",
          "else",
          "for",
          "each",
          "while",
          "mixin",
          "include",
          "content",
          "return",
          "function"
        ]
      }
    ],
    "declaration-empty-line-before": null,
    "number-leading-zero": "never",
    "string-quotes": "double",
    "no-descending-specificity": null,
    "order/order": [
      "at-rules",
      "less-mixins",
      "custom-properties",
      "declarations",
      "rules"
    ],
    "order/properties-order": [
      {
        "emptyLineBefore": "always",
        "properties": [
          "position"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "top",
          "right",
          "bottom",
          "left"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "z-index"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "display",
          "visibility"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "overflow",
          "overflow-x",
          "overflow-y"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "float",
          "clear"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "table-layout",
          "border-collapse",
          "empty-cells",
          "box-sizing"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "width",
          "min-width",
          "max-width",
          "height",
          "min-height"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "margin",
          "margin-top",
          "margin-right",
          "margin-bottom",
          "margin-left",
          "padding",
          "padding-top",
          "padding-right",
          "padding-bottom",
          "padding-left"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "border",
          "border-width",
          "border-style",
          "border-color",
          "border-radius",
          "border-top",
          "border-top-width",
          "border-top-style",
          "border-top-color",
          "border-right",
          "border-right-width",
          "border-right-style",
          "border-right-color",
          "border-bottom",
          "border-bottom-width",
          "border-bottom-style",
          "border-bottom-color",
          "border-left",
          "border-left-width",
          "border-left-style",
          "border-left-color",
          "border-top-left-radius",
          "border-top-right-radius",
          "border-bottom-right-radius",
          "border-bottom-left-radius"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "white-space",
          "content"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "color"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "background",
          "background-color",
          "background-image",
          "background-repeat",
          "background-attachment",
          "background-position",
          "background-size"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "opacity"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "font",
          "font-weight",
          "font-style",
          "font-variant",
          "font-size",
          "font-family"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "letter-spacing",
          "line-height"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "list-style",
          "list-style-type",
          "list-style-position",
          "list-style-image"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "outline",
          "outline-width",
          "outline-style",
          "outline-color"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "text-align",
          "text-decoration",
          "text-indent",
          "text-transform",
          "text-shadow"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "animation",
          "transform",
          "transition"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "box-shadow"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "align-content",
          "align-items",
          "align-self",
          "flex",
          "flex-basis",
          "flex-direction",
          "flex-flow",
          "flex-grow",
          "flex-shrink",
          "flex-wrap",
          "justify-content",
          "order"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "cursor",
          "pointer-events"
        ]
      }
    ]
  }
}
