@keyframes rainbow {
  0% { background-color: $blue; }
  33% { background-color: $green; }
  66% { background-color: $blue; }
  100% { background-color: $red; }
}

@mixin rainbow-animation() {
  background-color: $red;

  animation-name: rainbow;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
