button,
.button {
  display: inline-block;

  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;

  border: 0;
  border-radius: 0;

  color: $white;

  background-color: $black;

  font-weight: $font-weight-bold;
  font-size: $font-size-base;

  outline: 0;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  transition: background .2s ease-in-out;

  cursor: pointer;

  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes

  &:focus,
  &:visited {
    color: $white;
  }

  &:focus,
  &:hover {
    background-color: $gray-light;
  }

  &[disabled] {
    background-color: $gray-light;

    cursor: not-allowed;
  }
}

.button--clear {
  padding: 0;

  color: $black;

  background-color: transparent;

  &:focus,
  &:hover {
    color: $gray-light;

    background-color: transparent;
  }

  &[disabled] {
    color: $gray-light;

    background-color: transparent;
  }
}

.button--blue {
  background-color: $blue;

  &:focus,
  &:hover {
    background-color: lighten($blue, 25%);
  }
}

.button--green {
  background-color: $green;

  &:focus,
  &:hover {
    background-color: lighten($green, 25%);
  }
}

.button--red {
  background-color: $red;

  &:focus,
  &:hover {
    background-color: lighten($red, 25%);
  }
}

.button--rainbow {
  @include rainbow-animation();

  &:focus,
  &:hover {
    opacity: .9;
  }

  &[disabled] {
    background-color: $gray-light;

    animation: none;
  }
}

.button-group {
  display: flex;

  justify-content: space-between;

  .button {
    flex: 1;
  }
}
