$_form-checkbox-size: 37px;

form {
  max-width: 400px;

  margin: 0 auto;
}

label {
  display: block;

  font-weight: $font-weight-bold;
  font-size: $font-size-base;

  text-align: left;
  text-transform: uppercase;
}

%form-base-style {
  border: 0;
  border-radius: 0;

  color: $white;

  background-color: $black;

  font-size: $font-size-base;

  outline: 0;

  transition: background .2s ease-in-out;

  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes

  &:focus {
    background-color: $gray-light;
  }

  &[disabled] {
    background-color: $gray;

    cursor: default;
  }
}

%form-layout-style {
  display: block;

  width: 100%;

  margin-top: 5px;
  margin-bottom: 10px;

  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

textarea {
  @extend %form-base-style;
  @extend %form-layout-style;

  max-width: 100%;
  min-height: 200px;

  padding: 15px;
}

input {
  &[type="email"],
  &[type="password"],
  &[type="text"] {
    @extend %form-base-style;
    @extend %form-layout-style;
  }

  &[type="submit"] {
    margin-top: 20px;
  }

  &[type="checkbox"] {
    @extend %form-base-style;

    width: $_form-checkbox-size;
    min-width: $_form-checkbox-size;
    height: $_form-checkbox-size;

    margin-right: 10px;

    cursor: pointer;

    &:checked {
      &::after {
        display: block;

        content: "X";

        color: $white;

        font-size: $_form-checkbox-size;

        text-align: center;
      }

      &[disabled] {
        background-color: $gray;

        cursor: default;
      }
    }
  }
}
