table {
  border-collapse: collapse;

  width: 100%;
}

td,
th {
  padding: 10px;

  text-align: left;

  &:last-child {
    text-align: right;
  }
}

th {
  text-transform: uppercase;
}

tbody {
  tr {
    &:nth-child(odd) {
      background-color: lighten($yellow, 10%);
    }

    &:hover {
      background-color: $white;
    }

    td {
      &:first-child {
        font-weight: $font-weight-bold;
      }
    }
  }
}

@include media-breakpoint(xs) {
  table {
    tr {
      th,
      td {
        display: none;

        &:first-child,
        &:nth-child(2),
        &:last-child {
          display: table-cell;
        }
      }
    }
  }
}
