h1,
h2 {
  font-family: "Parabole-Regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $font-size-heading;

  line-height: $line-height-base;

  text-align: center;
  text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 40px;
}

p,
li {
  line-height: $line-height-base;
}
