.form {
  max-width: 600px;

  margin: 0 auto;
}

.form__error {
  margin-bottom: 15px;

  padding: 10px;

  color: $white;

  background-color: $red;

  line-height: 1.5;
}

.form__field {
  margin-bottom: 25px;
}

.form__field--inline {
  display: flex;

  align-items: center;

  .form__field-input,
  .form__field-label {
    display: inline-block;
  }

  .form__field-input {
    margin-bottom: 5px;
  }
}

.form__field--has-error,
.form__field--has-warning {
  .form__field-input {
    background-color: $red;
  }
}

// .form__field-label {
// }

.form__field-input {
  margin-top: 5px;
  margin-bottom: 10px;
}

.form__field-label {
  order: 1;

  & + .form__field-checkbox {
    order: 0;
  }
}

.form__field-error,
.form__field-warning {
  color: $red;
}
