$_modal-footer-height: 37px;
$_modal-header-height: 55px;

.infinite-list-container {
  width: 100%;
}

.infinite-list-container__item {
  width: 100%;
}

.infinite-list-container--half-items {
  & > div {
    display: flex;

    flex-wrap: wrap;
  }

  .infinite-list-container__item {
    width: 50%;
  }
}

@include media-breakpoint(xs) {
  .infinite-list-container--half-items {
    .infinite-list-container__item {
      width: 100%;
    }
  }
}

.infinite-list-container--in-modal {
  padding-top: $_modal-header-height;
  padding-bottom: $_modal-footer-height;
}

.infinite-list-container__spinner {
  text-align: center;
}
