$_modal-footer-height: 37px;
$_modal-header-height: 55px;

.infinite-list-container {
  width: 100%;
}

.infinite-list-container__item {
  width: 100%;
}

.infinite-list-container--half-items {
  display: flex;

  flex-wrap: wrap;
  
  flex-direction: row;

  .infinite-list-container__item {
    width: 100%;
    margin: 0px;
  }

  .infinite-list-container__item--full {
    width: 100%;

    margin-bottom: 50px;

    text-align: center;
  }
}

.infinite-list-container__heading {
  margin-bottom: 10px;

  font-size: $font-size-xl;
}

@include media-breakpoint(md) {
  .infinite-list-container--half-items {
    .infinite-list-container__item {
      width: 200px;
      margin: auto;
    }

    .infinite-list-container__item--full {
      width: 100%;
    }
  }

  .infinite-list-container__heading {
    font-size: $font-size-xl;
  }
}

.infinite-list-container--in-modal {
  overflow: auto;

  height: 100%;

  padding-top: $_modal-header-height;
  padding-bottom: 12px;
}

.infinite-list-container__more-button {
  display: block;

  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
}

.infinite-list-container__spinner {
  width: 100%;

  text-align: center;
}
