.inline-navigation {
  margin: 0;

  padding: 0;

  list-style: none;
}

.inline-navigation--vertical {
  .inline-navigation__item {
    display: block;

    + .inline-navigation__item {
      margin-left: 0;
    }
  }
}

.inline-navigation__item {
  display: inline-block;

  text-transform: uppercase;

  + .inline-navigation__item {
    margin-left: 10px;
  }
}

.inline-navigation__programme {
  background-color: #33cc33;
}