.item-selector {
  display: flex;
}

.item-selector__list {
  width: 50%;

  flex: 1 50%;
}

.item-selector__list--selection {
  padding-top: 55px;
  padding-bottom: 37px;

  border-right: 2px solid $gray-light;
}

@include media-breakpoint(xs) {
  .item-selector {
    flex-direction: column;
  }

  .item-selector__list {
    width: 100%;

    flex: 1 100%;
  }

  .item-selector__list--selection {
    display: none;
  }
}
