.item-selector {
  position: relative;

  height: 100%;
}

.item-selector__list {
  position: absolute;

  right: 0;

  width: 50%;
  height: 100%;
}

.item-selector__list--selection {
  right: auto;
  left: 0;

  overflow-y: auto;

  padding-top: 55px;
  padding-bottom: 12px;

  border-right: 2px solid $gray-light;
}

@include media-breakpoint(xs) {
  .item-selector {
    flex-direction: column;
  }

  .item-selector__list {
    left: 0;

    width: 100%;
  }

  .item-selector__list--selection {
    display: none;
  }
}
