.list-item {
  display: flex;

  margin-bottom: 25px;
}

.list-item--half {
  height: auto;

  flex-wrap: wrap;

  .list-item__cover-image {
    width: 200px;
    height: 200px;
  }

  @include media-breakpoint(xs) {
    flex-direction: column;

    .list-item__cover-image {
      width: 250px;
      height: 250px;
    }
  }
}

.list-item--clickable {
  transition: background .2s linear;

  cursor: pointer;

  &:hover {
    background-color: $gray-lighter;
  }
}

.list-item__cover-image {
  position: relative;

  width: 200px;
  height: 200px;

  background-color: $gray-light;
  background-position: center;
  background-size: cover;
}

.list-item__cover-image-button {
  position: absolute;

  bottom: 0;

  display: block;

  width: 100%;
}
