$_list-item-height: 150px;
$_list-item-mobile-height: 150px;

.list-item {
  display: flex;

  width: 100%;
  min-width: 100%;
  min-height: $_list-item-height;

  margin-bottom: 25px;
}

.list-item--half {
  height: auto;

  flex-wrap: wrap;

  .list-item__cover-image {
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    height: 250px;

    flex: 1 100%;
  }
}

.list-item--clickable {
  transition: background .2s linear;

  cursor: pointer;

  &:hover {
    background-color: $gray-lighter;
  }
}

@include media-breakpoint(xs) {
  .list-item {
    height: $_list-item-mobile-height;
  }

  .list-item--half {
    height: auto;

    padding-bottom: 10px;

    .list-item__cover-image {
      margin-bottom: 10px;
    }
  }
}

.list-item__cover-image {
  position: relative;

  width: $_list-item-height;
  min-width: $_list-item-height;
  max-width: $_list-item-height;
  height: $_list-item-height;

  background-color: $gray-light;
  background-position: center;
  background-size: cover;

  flex: 1 $_list-item-height;
}

.list-item__cover-image-button {
  position: absolute;

  bottom: 0;

  display: block;

  width: 100%;
}

@include media-breakpoint(xs) {
  .list-item__cover-image {
    width: $_list-item-mobile-height;
    min-width: $_list-item-mobile-height;
    max-width: $_list-item-mobile-height;
    height: $_list-item-mobile-height;

    flex: 1 $_list-item-mobile-height;
  }
}
