.logo {
  width: 100%;

  font-weight: $font-weight-bold;
  font-size: $font-size-xxl;

  text-align: center;

  a {
    text-decoration: none;
  }
}

@include media-breakpoint(xs) {
  .logo {
    font-size: $font-size-md;
  }
}
