.logo {
  width: 100%;

  font-weight: $font-weight-bold;
  font-size: $font-size-xxl;

  text-align: center;

  a {
    text-decoration: none;
  }

  img {
    max-width: 200px;
  }
}

@include media-breakpoint(xs) {
  .logo {
    font-size: $font-size-md;

    img {
      max-width: 70px;
    }
  }
}
