.map-popup-event-list {
  max-height: 250px;
  width: 100%;
  overflow-y: scroll;
}

.map-popup {
  cursor: pointer;
}

.map-popup-img {
  width: 20%;
}

.map-popup-title {
  width: 50%;
}

.map-popup-time {
  width: 30%;
}
