$_markdown-background: $gray-lighter;
$_markdown-code-font-family: "Courier New", courier, monospace;
$_markdown-content-color: $gray;

.markdown {
  display: inline-block;

  width: 100%;
  max-width: 500px;

  margin-top: 15px;

  padding-right: 15px;
  padding-left: 15px;

  color: $_markdown-content-color;

  background-color: $_markdown-background;

  text-align: left;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 15px;

    font-size: $font-size-base;

    text-align: left;
  }

  p {
    font-size: $font-size-base;

    word-wrap: break-word;
  }

  ul {
    display: inline-block;

    margin: 0;

    padding: 0;

    list-style: none;
  }

  pre,
  code {
    padding-top: 2px;
    padding-right: 7px;
    padding-bottom: 2px;
    padding-left: 7px;

    border-radius: 3px;

    background-color: $white;

    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    font-family: $_markdown-code-font-family;

    line-height: 1.5;
  }

  pre {
    text-align: left;

    code {
      padding: 0;

      border: 0;
    }
  }

  li {
    position: relative;

    &::before {
      position: absolute;

      left: -10px;

      display: block;

      content: "- ";

      color: $_markdown-content-color;
    }
  }

  a {
    color: $_markdown-content-color;
  }
}
