$_navigation-links-item-height: 70px;
$_navigation-links-item-height-mobile: 60px;

.navigation-links {
  display: flex;

  margin-top: 90px;
  padding: 0;

  list-style: none;

  flex-direction: column;
}

@include media-breakpoint(xs) {
  .navigation-links {
    margin-top: 60px;
  }
}

.navigation-links--expanded {
  display: initial;
}

.navigation-links__item {
  color: $white;

  a {
    display: block;

    height: $_navigation-links-item-height;

    padding-right: $page-margin;
    padding-left: $page-margin;

    font-weight: $font-weight-bold;
    font-size: $font-size-lg;

    line-height: $_navigation-links-item-height;

    text-decoration: none;
    text-transform: uppercase;
  }

  &:hover {
    background-color: $black;
  }

  &:focus,
  &:active {
    color: $black;

    background-color: $white;
  }
}

@include media-breakpoint(xs) {
  .navigation-links__item {
    a {
      height: $_navigation-links-item-height-mobile;

      padding-left: 18px;

      line-height: $_navigation-links-item-height-mobile;
    }
  }
}
