// .navigation {
// }

.navigation__overlay {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: map-get($z-index, "navigation-overlay");

  display: none;
}

.navigation__overlay--visible {
  display: initial;
}

.navigation__toggle {
  position: fixed;

  top: 0;
  left: 0;

  z-index: map-get($z-index, "navigation-toggle");

  width: 40px;
  height: 40px;

  margin: $page-margin;
}

@include media-breakpoint(xs) {
  .navigation__toggle {
    width: 30px;
    height: 30px;

    margin: $page-margin-mobile;
  }
}

.navigation__toggle--right {
  right: 0;
  left: initial;
}
