$_navigation-links-item-height: 70px;
$_navigation-links-item-height-mobile: 60px;

.navigation-links {
  display: flex;

  padding: 0;

  list-style: none;

  flex-direction: column;
}

.navigation-links--expanded {
  display: initial;
}

.navigation-links__item {
  a {
    display: block;

    height: $_navigation-links-item-height;

    padding-right: $page-margin;
    padding-left: $page-margin;

    color: $white;

    font-weight: $font-weight-bold;
    font-size: $font-size-lg;

    line-height: $_navigation-links-item-height;

    text-decoration: none;
    text-transform: uppercase;

    &:active,
    &:focus,
    &:hover {
      color: $black;

      background-color: $white;
    }
  }
}

@include media-breakpoint(xs) {
  .navigation-links__item {
    a {
      height: $_navigation-links-item-height-mobile;

      padding-right: $page-margin-mobile;
      padding-left: $page-margin-mobile;

      line-height: $_navigation-links-item-height-mobile;
    }
  }
}
