@keyframes sidebar-toggle-spinning {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sidebar-toggle {
  background-image: url("/static/explosion.svg");
  background-size: cover;
  background-repeat: no-repeat;
  
  padding-top: 30px;
  text-align: center;

  color: red;
  
  border-radius: 50%;

  position: relative;

  height: 100%;

  transition: all .2s ease-in-out;

  &::after {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    margin: 8px;

    border-radius: 50%;

    content: "";

    background-color: $black;

    opacity: 0;

    transition: all .2s ease-in-out;
  }
}

@include media-breakpoint(xs) {
  .sidebar-toggle {
    margin-top: 5px;
    padding-top: 12px;
    font-size: $font-size-sm;
  }
}


.sidebar-toggle--active {
  background-color: $black;

  &.sidebar-toggle--notified {
    &::after {
      background-color: $white;
    }
  }

  &.sidebar-toggle--spinning {
    border-color: $black;

    &.sidebar-toggle--notified {
      &::after {
        background-color: $white;
      }
    }
  }
}

.sidebar-toggle--notified {
  &::after {
    opacity: 1;
  }
}

.sidebar-toggle--spinning {
  border: 4px dashed $black;

  background-color: transparent;

  animation-name: sidebar-toggle-spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;

  &.sidebar-toggle--notified {
    &::after {
      background-color: $black;
    }
  }
}
