@keyframes sidebar-toggle-spinning {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sidebar-toggle {
  position: relative;

  height: 100%;

  transition: all .2s ease-in-out;
}

.sidebar-toggle--notified {
  &::after {
    opacity: 1;
  }
}

.sidebar-toggle--spinning {
  animation-name: sidebar-toggle-spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}
