.simple-list-item {
  display: flex;

  width: 100%;
  min-width: 100%;
  min-height: 15px;

  margin: 0;
}

.simple-list-item--clickable {
  cursor: pointer;

  &:hover {
    background-color: $blue;
  }
}
