.tag {
  margin-top: -2px;
  margin-left: -2px;

  padding: 12px;

  border: 2px solid $black;

  font-weight: $font-weight-bold;
  font-size: $font-size-base;

  text-transform: uppercase;

  cursor: pointer;

  background-color: #6e58a3;

  color: $white;

  &:focus,
  &:hover {
    background-color: $green;
  }
}

.tag-container {
  display: flex;

  width: 100%;

  flex-wrap: wrap;
  justify-content: center;
}

.tag--selected {
  background-color: $green;

  &:focus,
  &:hover {
    background-color: ($green, 25%);
  }
}
