header {
  position: fixed;

  z-index: map-get($z-index, "header");

  display: flex;

  width: 100%;

  padding-top: 20px;
  padding-right: $page-margin;
  padding-left: $page-margin;
}

@include media-breakpoint(xs) {
  header {
    padding-top: 25px;
  }
}
