header {
  position: fixed;

  z-index: map-get($z-index, "header");

  display: flex;

  width: 100%;

  padding-top: 15px;
  padding-right: $header-margin;
  padding-left: $header-margin;
  
  a {
    font-size: $font-size-xxl;
    background-color: rgba($cream, 0.7);
  }
}

@include media-breakpoint(md) {
  header {
    padding-right: $header-margin;
    padding-left: $header-margin;  
    a {font-size: $font-size-xl;}
  }
}

@include media-breakpoint(xs) {
  header {
    padding-top: 20px;
    padding-right: $header-margin-mobile;
    padding-left: $header-margin-mobile;  
    a {font-size: $font-size-md;}
  }
}
