html {
  font-size: 18px;
  font-family: Arial, sans-serif;
}

body {
  max-width: 900px;

  margin: 0 auto;
  padding: 20px;
}

hr {
  height: 3px;

  border: 0;

  background-color: #000;
}

li,
p {
  line-height: 1.5;
}

li p {
  margin: 0;
}

a {
  color: #000;

  text-decoration: underline;
}

img {
  max-width: 100%;

  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;

  word-break: break-all;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5,
h6 {
  font-size: 18px;
}

nav a {
  margin-right: 10px;

  font-weight: bold;
}

main {
  margin-top: 60px;
  margin-bottom: 60px;
}

code {
  background-color: #ffc0cb;
}
